.faq{
    margin:1em;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}
.faq h1{
    color:rgba(17, 97, 194, 0.616);
    font-size: 1.5em;
}
.faqContainer{
    display:grid;
    grid-template: 1fr / 1fr 1000px 1fr;
    width:100%;
    padding:2em;
}
.faqHolder{
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    color: rgba(0, 0, 0, 0.473);
}
.faqHolder b{
    font-size: 1.1em;
    color:black;
    line-height: 2em;
}
.faqGrey{
    background-color: rgba(0, 0, 0, 0.05);
    padding:1.5em;
    font-size:0.65em;
}
.faqWhite{
    padding:1.5em;
    font-size:0.65em;
}
.contactGrid{
    display:grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    width:100%;
}
.contactItems{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}
#contact1{
    grid-area: 1 / 1 / 2 / 2;
    border-right: 1px solid rgba(0, 0, 0, 0.199);
}
#contact2{
    grid-area: 1 / 2 / 1 / 3;
    border-right: 1px solid rgba(0, 0, 0, 0.199);
}
#contact3{
    grid-area: 1 / 3 / 1 / 4;
}
.contactLinks{
    font-size: inherit;
    text-decoration: none;
}

/*responsive*/
@media only screen and (max-width: 1250px){
    .faq{
        margin-left: 0.75em;
        margin-right: 0.75em;
    }
    .faqContainer{
        display: grid;
        grid-template: 1fr / 1fr;
        width:100%;
        padding:1em;
    }
    .faqHolder{
        grid-area: 1 / 1 / 2 / 2;
    }
    .faqGrey{
        background-color: rgba(0, 0, 0, 0.05);
        padding:1.0em;
        font-size:0.65em;
    }
    .faqWhite{
        padding:1.0em;
        font-size:0.65em;
    }
    .contactLinks{
        display:none;
    }
}