@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); /*font-family: 'Quicksand', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

.sidenav{
    display: none;
}

.addShadow{
    box-shadow: 0px 5px 4px -5px grey;
}

.navContainer{
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    background-color: #002244;
    transition: 0.6s;
    color: #ffffff;
}

.nav{
    width: 1272.5px;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.navLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#covedIMG{
    display: none;
}

#covedNAV{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.navLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-self: flex-end; */
}


.navLink{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Nunito Sans'; */
    cursor: pointer;
    margin: 0px 3em;
    font-size: 0.583em;
    
}

.navLink[selected="True"]{
    font-weight: 900;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.aboutus{
    background-color: #1162c2;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 48fr 4fr 48fr;
}

.or{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2 / span 1;
}
.bar{
    background-color: #A4A4A4;
    height: 80%;
    width: 1px;
}

#signupbar{
    height: 90%;
}

#aboutusbar{
    height: 70%;
}

.we{ 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    align-self: center;
}

#whoweare{
    grid-column: 1/ span 1;
    
}

#whatwewant{
    grid-column: 3 / span 1;
}

.wetitle{
    margin-bottom: 0.83em;
    font-size: 1.75em;
}

.we_desc{
    font-size: 0.8em;
    text-align: justify;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 100px;
}

.signupcolumns{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 48fr 4fr 48fr;
    width: 90%;
    align-self: center;
    height: auto;
}



.applyingsignup{
    display: flex;
    flex-direction: column;
}

#studentsignup{
    grid-column: 1 / span 1;
}

#mentorsignup{
    grid-column: 3 / span 1;
}

.applyingtitle{
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 2em;
    color: #1162c2;
    height: 2em;
    text-align: center;

}

.applycontent{
    margin-top: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    border: 0px solid #000000;
}

.steps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.stepsdivider{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    border: none;
    background-color: olive;
    margin: 30px auto;
    
}

.icons{
    width: 100px;
    margin-right: 50px;
    margin-left: 10px;
}

#iconm4 , #icons5 {
    width: 80px;
    margin-left: 30px;
}

.stepcontent{

    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.steptitle{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 1000;
    color: #ff8614;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 0.8125em; 
}

.stepnumber{
    font-family: 'Montserrat', sans-serif; 
    color: #ff8614;
    font-size: 0.67em;
    margin-bottom: 20px;
}

.steptext{
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.625em;
    text-align: justify;
}

.signupbtn{
    box-shadow: 0px 3px 4px grey;
    width: 100px;
    height: 50px;
    background-color: #1162c2;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    align-self: center;
    margin-top: 40px;
}

.titlepage{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #002244;
}

#covedindia{
    position: relative;
    bottom: 100px;
    width: 35%;
}



@media only screen and (max-width: 1250px){

    #covedindia{
        position: relative;
        bottom: 100px;
        width: 80%;
    }
    .nav{
        width: 100%;
        justify-content: space-between;
    }

    .navLink{
        display: none;
    }

    /* .signup{
        display: none;
    } */

    #nav-icon3 {
        width: 40px;
        height: 45px;
        position: relative;
        margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }

      #nav-icon3 span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }

    #nav-icon3 span:nth-child(1) {
        top: 0px;
      }

      #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
        top: 18px;
      }

      #nav-icon3 span:nth-child(4) {
        top: 36px;
      }

      #nav-icon3.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }


      .signupcolumns{
        margin-top: 120px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 48fr 1fr 48fr;
        width: 100%;
        align-self: center;
        height: auto;
    }

    .or{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-row: 2 / span 1;
        grid-column: 1;
    }
    .bar{
        background-color: #A4A4A4;
        height: 2px;
    }
    
    #signupbar{
        width: 90%;
        height: 2px;

    }

    
    .applyingsignup{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #studentsignup{
        grid-column: 1;
        grid-row: 1 / span 1;
    }
    
    #mentorsignup{
        grid-row: 3 / span 1;
        grid-column: 1;
    }
    
    .steps{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: start;
    }
    .icons{
        width: 100px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #iconm4 , #icons5 {
        width: 80px;
        margin-left: 0px;
    }

    .applycontent{
        margin-top: 10px;
        width: 85%;
        height: auto;
    }
    
    .stepsdivider{
        width: 80%;
        
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #f7f5f5b3;
        backdrop-filter: saturate(280%) blur(20px);
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding-top: 70px; /*Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }

    .sidenav a {
        padding: 8px 8px 8px 25px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        color: #000000;
        display: block;
        transition: 0.3s;
    }


    .sidenav a:hover {
        color: #f1f1f1;
    }

    .aboutus{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    #whoweare{
        margin-top: 0px; 
        
    }

    
    #aboutusbar{
        width: 70%;
        height: 2px;
        margin: 20px auto;
    }

    .we{ 
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;
        align-self: center;
    }

    .stepcontent{
        margin-right: 0px;
        display: flex;
        flex-direction: column;
    }
}