@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); /*font-family: 'Quicksand', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

.sidenav{
    display: none;
}



.addShadow{
    box-shadow: 0px 5px 4px -5px grey;
}

.navContainer{
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    background-color: #002244;
    transition: 0.6s;
    color: #ffffff;
}

.nav{
    width: 1272.5px;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.navLogo {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#covedIMG{
    display: block;
    width: 50px;
}

#covedNAV{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.navLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-self: flex-end; */
}


.navLink{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Nunito Sans'; */
    cursor: pointer;
    margin: 0px 3em;
    font-size: 0.583em;   
}

.navLinks a:hover{
    color: rgb(128, 128, 128);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: fit-content;
}

.aboutus{
    background-color: #1162c2;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 48fr 4fr 48fr;
}

.or{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2 / span 1;
}
.bar{
    background-color: #A4A4A4;
    height: 80%;
    width: 1px;
}

#signupbar{
    height: 90%;
}

#aboutusbar{
    height: 70%;
}

.we{ 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    align-self: flex-start;
}

#whoweare{
    grid-column: 1/ span 1;
    
}

#whatwewant{
    grid-column: 3 / span 1;
}

.wetitle{
    margin-bottom: 0.83em;
    font-size: 1.75em;
}

.we_desc{
    font-size: 0.8em;
    text-align: justify;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 100px;
}


#steps1,#steps2, #steps3, #steps4{
    margin-bottom: 25px;
}


.signupcolumns{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 48fr 4fr 48fr;
    width: 90%;
    align-self: center;
    height: auto;
}



.applyingsignup{
    display: flex;
    flex-direction: column;
}

#studentsignup{
    grid-column: 1 / span 1;
}

#mentorsignup{
    grid-column: 3 / span 1;
}

.applyingtitle{
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 2em;
    color: #1162c2;
    height: 2em;
    text-align: center;

}

.applycontent{
    margin-top: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    border: 0px solid #000000;
}

.steps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.stepsdivider{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    border: none;
    background-color: olive;
    margin: 30px auto;
    
}

.icons{
    width: 100px;
    margin-right: 50px;
    margin-left: 10px;
}

#iconm4 , #icons5 {
    width: 80px;
    margin-left: 30px;
}

.stepcontent{

    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.steptitle{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 1000;
    color: #ff8614;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 0.8125em; 
}

.stepnumber{
    font-family: 'Montserrat', sans-serif; 
    color: #ff8614;
    font-size: 0.67em;
    margin-bottom: 20px;
}

.steptext{
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.625em;
    text-align: justify;
}
.steptext a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    font-weight: bold;
}

.steptext strong {
    font-size: inherit;
    cursor: pointer;
}
.signupbtn{
    box-shadow: 0px 3px 4px grey;
    width: 100px;
    height: 50px;
    background-color: #1162c2;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    align-self: center;
    margin-top: 40px;
    cursor: pointer;
}

.titlepage{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #002244;
}

#covedindia{
    position: relative;
    bottom: 150px;
    /* width: 60vw; */
    display: flex;
    flex-direction: column;
}

#covedindiaimg{
    width: 40vw;
}

.titlebuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tpbtn{
    cursor: pointer;
    width: 250px;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 80px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    transition: 0.5s;
    outline: none;
}

.tpbtn:hover{
    background-color: #ffd34f;
    opacity: 1;
}

.tpbtn:focus{
    transition: 0.1s;
    box-shadow: inset 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
}
