@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); /*font-family: 'Quicksand', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

.sidenavx{
    display: none;
}

.addShadowx{
    box-shadow: 0px 5px 4px -5px grey;
}

.navContainerx{
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    background-color: #002244;
    transition: 0.6s;
    color: #ffffff;
}

.navx{
    width: 100vw;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.navLogox {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#covedIMG{
    display: block;
    width: 50px;
    cursor: pointer;
}

#covedNAV{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.navLinksx{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-self: flex-end; */
}


.navLinkx{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Nunito Sans'; */
    cursor: pointer;
    margin: 0px 3em;
    font-size: 0.583em;   
}

.navLinksx a:hover{
    color: rgb(128, 128, 128);
}









/*=----=============================*/
@media only screen and (max-width: 1250px){
        .navx{
        width: 100%;
        justify-content: space-between;
    }

    .navLinkx{
        display: none;
    }

    .sidenavx {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #f7f5f5b3;
        backdrop-filter: saturate(280%) blur(20px);
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding-top: 70px; /*Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .sidenavx a {
        padding: 8px 8px 8px 25px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        color: #000000;
        display: block;
        transition: 0.3s;
    }


    .sidenavx a:hover {
        color: #f1f1f1;
    }

    #nav-icon3 {
        width: 40px;
        height: 45px;
        position: relative;
        margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon3 span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon3 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
        top: 18px;
    }

    #nav-icon3 span:nth-child(4) {
        top: 36px;
    }

    #nav-icon3.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}