:root{
	--blue-theme-color:#002244;
	--theme-white-text: rgb(255,255,255,0.8);
}


.container{
	width:60%;
	/*border:2px solid red;*/
	/*margin-top:10vh !important;*/
	margin-bottom:20vh !important;

}

/*.tab-navbar{
	border: 2px solid green;
}*/


body{
	font-family:"Lato",sans-serif;
	font-weight:300;
}

.bg-dark #image-description{
	color:#ffffff;
	font-size:1.8rem;
}

.bg-light #image-description{
	color:var(--blue-theme-color);
	font-size:1.8rem;
}


.navbar.bg-dark{
	transition: 0.3s;
	background-color: var(--blue-theme-color) !important;
}

.navbar.bg-light{
	transition:0.3s;
	background-color: #ffffff !important;
}



.navbar img{
	width:40px;
	object-fit: cover;
}

.navbar.bg-light .nav-link{
	color:black !important;
	padding:8px 20px !important;
	font-weight:300;
}

.navbar.bg-dark .nav-link{
	color:#ffffff !important;
	padding:8px 20px !important;
	font-weight:300;
}

.navbar.bg-light .nav-link:hover{
	background-color:#ffffff;
	color:rgb(128,128,128) !important;
}


.navbar.bg-dark .nav-link:hover{
	background-color:var(--blue-theme-color);
	color:var(--theme-white-text) !important;
}



.top-head{
	font-weight:300;
	margin-bottom:2rem;
}

.description{
	margin:15vh auto;
}
.under-line{
	width:20%;
	border-bottom:1px solid #002244;
	margin-top:0.5rem;
	margin-bottom:3rem;
}

.heading{
	font-family:"Lato";
	font-weight:300;
	color:#000000;
}

.nav-tabs a{
	color:#000000;
}

.nav-tabs .active{
	color:#002244 !important;
}



.nav-tabs{
	border-color: #002244;
}


.nav-tabs .nav-link.active{
	border-color:#002244;
	font-weight:400;
	border-bottom-color: transparent;
}

.nav-tabs .nav-link:hover{
	transition:0.25s;
	color:#fff;
	background-color:#002244;
}

.nav-tabs .nav-link.active:hover{
	color:#002244;
	background-color: #fff;
}

.links a{
	color:;
}

.links {
	font-size:15px;
}

.tab-navbar{
	margin-bottom:25vh;
}

footer{
	background-color: var(--blue-theme-color);
	color:rgb(255,255,255,0.7);
	padding-top:3rem;
	padding-bottom:1.5rem;
}

footer p{
	margin-bottom:2rem;
}

footer hr{
	width:25%;
	border: 0.5px solid rgb(255,255,255,0.7);
	margin-top:0rem;
	margin-bottom:0.5rem;
}

footer .btn{
	color:var(--theme-white-text);
	background-color: var(--blue-theme-color);
	border-color: var(--theme-white-text)
}

footer .btn:hover{
	background-color: var(--theme-white-text);
	border-color: var(--blue-theme-color);
	color: var(--blue-theme-color);
	}
footer .container{
	margin-bottom: 2vh !important;
}

/*Changes due to responsive addition*/
.accordion{
	display:none;
}





@media screen and (max-width:675px){
	body{
		font-weight:400;
	}

	.container{
		width:95%;
	}

	.tab-navbar{
	margin-bottom:15vh;
	}

	footer p{
		margin-bottom:2rem;
	}

	.nav-tabs .nav-link.active{
	background-color:var(--blue-theme-color);
	color:#fff !important;
	font-weight:700;
	border-bottom-color: var(--blue-theme-color);
	}

	.nav-tabs .nav-link.active:hover{
		transition:none;
		background-color:var(--blue-theme-color);
		color:#fff !important;
		font-weight:700;
		border-bottom-color: var(--blue-theme-color);
	}

	footer{
		padding:auto;
	}

	footer {
		padding-bottom:8px !important;
	}

	footer h2{
		font-size:24px;
	}

	footer .lead{
		margin-top:0;
		font-size:16px;
	}

	footer hr{
		margin-bottom: 0;
	}

	footer .container{
		margin-bottom:3vh !important;
	}

	/*Accordion*/

	.accordion .card button{
		color:var(--blue-theme-color);
		font-size:70%;
	}

	/*.card-header{
		background-color: white;
	}*/

	.accordion .card button:hover{
		text-decoration: none;
	}

	/*.card-header.alt-grey{
		background-color: var(--blue-theme-color);
	}*/

	.accordion .card .alt-grey button{
		/*color:var(--theme-white-text);*/
	}

	.accordion{
		display: block;
	}

	.container{
		margin-bottom:16px !important;
	}

	.web-version{
		display:none;
	}

	.description{
		margin-top:10vh;
		margin-bottom:10vh !important;
	}


}





